@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #fcae1e;
    font-family: "Poppins", sans-serif;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    
}

/* nav {
    display: flex;
} */
/* Logo Image */
 nav {
    width: 100%;
    height: 10%;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
/* Ninja Logo Parent Class  */
nav .user {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    
}
/* Ninja Logo */
nav .user img {
    position: absolute;
    width: 70px;
    height: 36px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #131312;
    margin-left: 25px;
}

/* Favourites Parent Class */

nav ul {
    display: flex;
    margin-left: 80px;
}

/* Favourites */
nav ul li {
    position: relative;
    list-style-type: none;
    font-size: 13px;
    color: #fff;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

nav ul li:hover {
   color: #4c5262;
}

/* logo + Favourites Parent Div */
.logo_favourites{
    display: flex;
    margin-top: 15px;
}

/* Search Bar */
nav .search {
    position: relative;
    width: auto;
    padding: 1px 10px;
    border-radius: 20px;
    color: grey;
    display: flex;
    margin-left: 180%;
    align-items: center;
    justify-content: center;
}

 nav .search::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(184, 184, 184, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    padding: 10px 10px;
}

/* Search Icon */
nav .search .fa-magnifying-glass {
    font-size: 13px;
    padding: 0px 0px 0px 10px;
    padding-left: 0px;
}

/* Search Text */
 nav .search input {
    background: none;
    outline: none;
    border: none;
    padding: 0px 30px;
    color: #fff;
    font-size: 12px;
    width: 250px;
}

/* Notification + Search + Profile Pic Parent */
.search_notify_profile{
    margin-top: 15px;
    display: flex;
     align-items: center; 
} 

/* Notification */
.fa-bell
{
    color: #fff;
    margin-left: 30%;
    /* margin-top: 5px; */
}

/* Song Photo Image Carosuel */
.content {
    margin: 0;
    display: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f0f0f0; */
  }

  div .carousel-container{
    position: relative;
    /* bottom: 80px;
    right: 70px; */
    margin-top: 40px;
    margin-left: 250px;
  }
  
  .carousel-container {
    width: 600px;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
  }
  
  .carousel-slide {
    flex: 0 0 600px;
    
    
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    
  }

  .content .resize-img{
     /* width: 274px;  */
    height: 365px;
    display: inline-block;
  }
  
  /* div .carousel-slide img{
    position: relative;
  } */

  
  
  /* Animation */
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    14.28% {
      transform: translateX(-100%);
    }
    28.56% {
      transform: translateX(-200%);
    }
    42.84% {
        transform: translateX(-300%);
    }
    57.12% {
        transform: translateX(-400%);
    }
    71.4% {
        transform: translateX(-500%);
    }
    85.68% {
        transform: translateX(-600%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .carousel {
    animation: slide 5s infinite;
  }

  /* Latest Release */


  .first_two_photos{
    display: flex;
  }

  .latest_release h3{
    color: #fff;
    margin-top: 50px;
    margin-left: 250px;
  }

  .latest_release p{
    color: #fff;
  }

  .icon1{
    color: #fff;
    /* margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 50px; */
    position: relative;
    left: 100px;
    bottom: 11px;
  }

  header .content .latest_release .first_two_photos .first_release_photo h5{
    font-size: 10px ;
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
  }

  header .content .latest_release .first_two_photos .first_release_photo h5 div .release_date{
    font-size: 9px;
    color: #4c5262;
  }

  .release_image img{
    display:inline-block;
    height: 100px;
    width: 100px;
    
  }

  .first_release_photo{
    margin-left: 250px;
    margin-top: 20px;
    display: flex;
  }

  

  .release_dur p{
    /* margin-left: 10px;
    margin-bottom: 10px; */
    position: relative;
    left: 96px;
    bottom: 18px;
    font-size: 11px;
  }

  .second_release_photo{
    margin-left: 250px;
    margin-top: 20px;
    display: flex;
  }

  header .content .latest_release .first_two_photos .second_release_photo h5{
    font-size: 10px ;
    color: #fff;
    margin-top: 20px;
    margin-left: 10px;
  }

  .second_release_photo{
    position: relative;
    right: 120px;
  }

  /* Popular Artists */


  .popular_artists_heading{
    color: #fff;
    position: relative;
    top: 50px;
    left: 249px;
}
  
.popular_artists{
  display: flex;
}

.popular_artists .artist1{
  margin-left: 20px;
  
}


  .popular_artists .artist1 img{
    display: inline-block;
    height: 100px;
    width: 100px;
    position: relative;
    top: 80px;
    left: 222px;
    border-radius: 50%;
  }

  .popular_artists .artist1 img:hover{
    background-color: #fc6a03;
  }

  .popular_artists .artist1 a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;

  } 

  .popular_artists .artist1 a p{
    position: relative;
    top: 85px;
    left: 240px;

  }


  /* Song Queue */

  .queue_drop{
    color: #fff;
    position: relative;
    left: 948px;
    bottom: 600px;
  }

  .coloring li{
    color: #fff;
  }

  .queue_item p{
    color: #fff;
  }

  .queue_item h5{
    color: #fff;
  }

  /* Queue Items */

  .queue_item img{
    width: 75px;
    height: 75px;
    position: relative;
    left: 25px;
    bottom: 50px;
  }

  .queue_item h5{
    position: relative;
    bottom: 115px;
    left: 110px;
    font-size: 10px;
  }

  .queue_item h5 p{
    color: grey;
  }

  .queue_item{
    margin-left: 948px;
    position: relative;
    bottom: 550px;
  }

  .song_queue{
    display: flex;
    flex-direction: column;
  }
  

  /* Music Stations */

  .outer-div{
    height: 100px;
    width: 120px;
    background-color: #FFD700;
    
    position: relative;
    left: 230px;
    bottom: 1050px;
  }

  .inner-div{
    position: relative;
    width: 100px;
    height: 120px;
    background-color: #FFD700;
    
    bottom: 10px;
    left: 10px;
  }

  .main-div{
    position: relative;
    width: 80px;
    height: 100px;
    background-color: #FCAE1E;
    left: 10px;
    top: 10px;
    bottom: 20px;
    margin-bottom: 10px;
  }
  
  .inner-div img{
    border-radius: 50%;
    width: 75px;
    height: 100px;
  }

  .music_stations{
    display: flex;
  }

  .music_station_1 img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 1050px;
    left: 240px;
    margin-left: 15px;
  }

  /* Fusion */

  .fusion{
    display: flex;
  }

  .fusion1 img{
    height: 200px;
    width: 220px;
    position: relative;
    bottom: 950px;
    left: 220px;
    margin-right: 20px;
  }
  /* Latest English + Latest Hin + Latest Punjabi */
  /* .playlist_category h3{
    color: #fff;
    position: relative;
    bottom: 715px;
    left: 220px;
  } */

  

  .lat_eng h3{
    color: #fff;
    position: relative;
    bottom: 810px;
    left: 220px;
  }

  .lat_hin h3{
    color: #fff;
    position: relative;
    bottom: 765px;
    left: 220px;
  }
  .lat_pun h3{
    color: #fff;
    position: relative;
    bottom: 725px;
    left: 220px;
  }

  .category_song h5{
    color: #fff;
    position: relative;
    bottom: 760px;
    left: 220px;
    font-size: 10px;
    
  }
  .category_song h5 p{
    color: #fff;
    color: grey;
    
  }
  
  .category_song img{
    width: 104px;
    height: 100px;
    position: relative;
    bottom: 760px;
    left: 205px;
    margin-left: 15px;
  }

  .playlist_category, .latest_eng, .latest_hindi,.latest_punjabi{
    display: flex;
  }
  .playlist_category{
    flex-direction: column;
    /* margin-bottom: 60px; */
    position: relative;
    bottom: 90px;
  }

  .latest_eng{
    position: relative;
    bottom: 40px;
  }

  .latest_hindi{
    position: relative;
    top: 10px;
  }

  .latest_punjabi{
    position: relative;
    top: 50px;
  }
  /* Music Player */

  .music_player {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #fc6a03;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    padding: 0px 3%;
    box-sizing: border-box;
    z-index: 6;
    /* top: 100px;
    margin-bottom: 0px; */

    
    
    
  }
  .activesong {
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #sgimg {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }
  #sgimg img {
    width: 100%;
    height: 100%;
  }
  .fticon {
    height: 100%;
    padding-top: 4%;
  }
  .sgdesc {
    margin-right: 1%;
    margin-left: 1%;
  }
  .sgdesc div:nth-child(1) {
    font-size: 14px;
  }
  .sgdesc div:nth-child(2) {
    font-size: 12px;
  }
  .player {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .player audio{
    width: 60%;
    height: 70%;
    outline: none;
    position: absolute;
    right: 140px;
  }
  
  
  


  /* **********Single Artist Page Styles************** */

  #artistdes{
    position: relative;
  }

  .artdes{
    display: flex;
  }

  #artistdes .artdes img{
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50px;
    top: 50px;
  }

  .artdes p{
    color: #fff;
    position: absolute;
    top: 105px;
    left: 310px;
    display: flex;
    flex-direction: column;
    /* line-height: 30px; */
    /* word-spacing: 9px; */
    /* letter-spacing: 1px; */
    display: inline-block;
    width: 40%;
    text-align: justify;
    font-size: 15px;
    font-family: cursive;
  }

  .artdes h2,h4{
    color: #fff;
  }

  .artdes h2{
    position: absolute;
    left: 310px;
    top: 40px;
}

  
  .artdes h4{
    position: absolute;
    left: 310px;
    top: 75px;
    font-size: 12px;
  }

  /*Play and Follow Button*/

  .playbtn{
    position: absolute;
    top: 240px;
    left: 310px;
    height: 50px;
    width: 90px;
    border-left: 10px;
    background-color: #fcae1e;
    outline: none;

  }
  .followbtn{
    position: absolute;
    top: 240px;
    left: 430px;
    height: 50px;
    width: 90px;
    border-left: 10%;
    background-color: #fcae1e;
    outline: none;

  }

  .artdes span{
    color: #fff;
  }

  .span1{
    position: absolute;
    left: 310px;
    top: 290px;
    font-size: 13px;
  }
  .span2{
    position: absolute;
    left: 385px;
    top: 290px;
    font-size: 13px;
  }

  /* Artist Songs */
  .artist_songs{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 90px;
  }
  .art_song{
    display: flex;
    position: relative;
    

  }
  
  .as2{
    top: 20px;
  }
  .as3{
    top: 40px;

  }
  .as4{
    top: 60px;
  }
  .as5{
    top: 80px;
  }
  .as6{
    top: 100px;
  }

 
  .time2{
    margin-left: -47px;

  }
  
  .time4{
    margin-left: -40px;
  }
  .time5{
    margin-left: -45px;

  }
  .time6{
    margin-left: -4px;
  }

  .art_song h5,p{
    color: #fff;
  }
  .heart-icon, .plus-icon{
    color: #fff;
  }
  .art_song img{
    height: 80px;
    width: 80px;
    position: relative;
    top: 450px;
    left: 70px;
  }

  .art_song h5{
    position: relative;
    top: 470px;
    left: 165px;
  }
  .art_song h5 p{
    font-size: 11px;
    color: grey;
  }

  .stime{
    position: relative;
    left: 460px;
    top: 470px;
  }

  .sroll{
    position: relative;
    top: 480px;
    left: 45px;
    font-size: 14px;
  }

  .plus-icon{
    position: relative;
    top: 467px;
    left: 550px;

  }
  .heart-icon{
    position: relative;
    top: 467px;
    left: 570px;
  }

  /* Recommended Songs */
  .recom_songs1 img{
    position: relative;
    left: 890px;
    width: 100px;
    height: 100px;
    bottom: 400px;
  }

  .head2{
    position: relative;
    left: 880px;
    bottom: 420px;
  }

  .recom_songs1 h5{
    position: relative;
    left: 1000px;
    bottom: 470px;
  }
  .recom_songs1 h5 p{
    font-size: 12px;
    color: grey;
  }
  .recom_songs1 p span{
    position: relative;
    left: 1152px;
    bottom: 575px;
    color: grey;
    font-size: 12px;
  }

  .dots-icon{
    position: relative;
    left: 1155px;
    bottom: 570px;
    font-size: 20px;
    color: grey;
  }

  .recom_songs{
    display: flex;
    flex-direction: column;
  }
  
  .song3{
    margin-top: -70px;
  }

  .song2{
    margin-top: -70px;
  }

  /* Animate.css Effects */

  .styles{
    color: #fff;
    position: relative;
    bottom: 600px;
    left: 400px;
  }

 
  

 


